main {
    width: 600px;
    margin-top: 50px;
    background-color: #E5EEE4;
    padding: 40px;
    border-radius: 20px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main h1 {
    text-align: center;
    color: #462C7D;
    font-size: 3rem;
}
main > div {
    display: flex;
    gap: 20px;
    background-color: #D552A3;
    height: 50px;
    align-items: center;
    padding-inline: 20px;
    border-radius: 5px;

}

main > div > input {
    padding-inline: 10px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 500;
    height: 80%;
    flex: 1;
}
main > div > label {
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
}

main table {
    width: 100%;
    table-layout: fixed;
}
table thead {
    background-color: #D552A3;
    color: white;
    padding: 20px;
    border-radius: 20px;
    overflow: hidden;
}

thead tr {
    overflow: hidden;
}

th, td {
    padding: 10px;
}

tbody tr {
    background-color: #EDE9E6;
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

tbody tr:nth-child(even) {
    background-color: white;
}